.2504_57287 { 
	overflow:hidden;
}
.e2504_57287 { 
	background-color:rgba(44.000001177191734, 45.00000111758709, 48.000000938773155, 1);
	width:1400px;
	height:1717px;
	position:absolute;
}
.e2504_57288 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:290px;
	height:711px;
	position:absolute;
	left:235px;
	top:172px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e2504_57289 { 
	width:240px;
	height:146px;
	position:absolute;
	left:260px;
	top:465px;
}
.e2504_57290 { 
	color:rgba(255, 255, 255, 1);
	width:38px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2504_57291 { 
	width:240px;
	height:105px;
	position:absolute;
	left:0px;
	top:41px;
}
.e2529_75842 { 
	width:105px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2529_75843 { 
	background-color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:105px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e2529_75845 { 
	transform: rotate(-180deg);
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:91px;
	height:91px;
	position:absolute;
	left:98.00012969970703px;
	top:97.99998474121094px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e2529_75846 { 
	color:rgba(255, 255, 255, 1);
	width:24px;
	height:18px;
	position:absolute;
	left:15px;
	top:72px;
	font-family:Circular Std;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e2529_75847 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:18px;
	position:absolute;
	left:15px;
	top:15px;
	font-family:Circular Std;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e2528_75462 { 
	width:105px;
	height:105px;
	position:absolute;
	left:135px;
	top:0px;
}
.e2528_75463 { 
	background-color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:105px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e2528_75465 { 
	transform: rotate(-180deg);
	background-color:rgb(11, 24, 76);
	width:11px;
	height:11px;
	position:absolute;
	left:98.00012969970703px;
	top:97.99998474121094px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e2528_75466 { 
	color:rgba(255, 255, 255, 1);
	width:24px;
	height:18px;
	position:absolute;
	left:15px;
	top:72px;
	font-family:Circular Std;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e2528_75467 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:36px;
	position:absolute;
	left:15px;
	top:15px;
	font-family:Circular Std;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e2504_57295 { 
	width:240px;
	height:165px;
	position:absolute;
	left:260px;
	top:251px;
}
.e2504_57296 { 
	width:240px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2504_57297 { 
	color:rgba(244.0000006556511, 243.00000071525574, 249.00000035762787, 1);
	width:84px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2504_57298 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:18px;
	position:absolute;
	left:0px;
	top:45px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2504_57299 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:83px;
	height:24px;
	position:absolute;
	left:0px;
	top:81px;
	border-top-left-radius:47px;
	border-top-right-radius:47px;
	border-bottom-left-radius:47px;
	border-bottom-right-radius:47px;
}
.ei2504_57299_1320_25650 { 
	color:rgba(255, 255, 255, 1);
	width:35px;
	height:18px;
	position:absolute;
	left:24px;
	top:2.5px;
	font-family:Abel;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e2504_57300 { 
	width:173px;
	height:42px;
	position:absolute;
	left:0px;
	top:123px;
}
.e2504_57301 { 
	width:81px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57301_311_6649 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57301_311_6650 { 
	background-color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:12px;
	height:9px;
	position:absolute;
	left:4.5px;
	top:6.75px;
}
.ei2504_57301_311_6651 { 
	background-color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:12px;
	height:9px;
	position:absolute;
	left:1.5px;
	top:2.25px;
}
.ei2504_57301_311_6642 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:59px;
	height:18px;
	position:absolute;
	left:22px;
	top:0px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2504_57302 { 
	width:173px;
	height:18px;
	position:absolute;
	left:0px;
	top:24px;
}
.ei2504_57302_311_6661 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57302_311_6662 { 
	background-color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:15px;
	height:8.536474227905273px;
	position:absolute;
	left:1.5px;
	top:6.463523864746094px;
}
.ei2504_57302_311_6663 { 
	background-color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:15px;
	height:5.53647518157959px;
	position:absolute;
	left:1.5px;
	top:3px;
}
.ei2504_57302_311_6660 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:151px;
	height:18px;
	position:absolute;
	left:22px;
	top:0px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2504_57303 { 
	width:119px;
	height:119px;
	position:absolute;
	left:320.5px;
	top:113px;
}
.e2504_57304 { 
	border-radius:500px;
	width:119px;
	height:119px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2504_57305 { 
	transform: rotate(0.000005008956130975318deg);
	width:610px;
	height:0px;
	position:absolute;
	left:555px;
	top:207px;
}
.2504_57305 { 
	border:1px solid rgba(148.000006377697, 148.000006377697, 150.0000062584877, 1);
}
.e2504_57306 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:110px;
	height:0px;
	position:absolute;
	left:665px;
	top:207px;
}
.2504_57306 { 
	border:3px solid rgba(103.0000014603138, 162.00000554323196, 255, 1);
}
.e2504_57307 { 
	width:54px;
	height:20px;
	position:absolute;
	left:700px;
	top:172px;
}
.e2504_57308 { 
	color:rgba(61.200017631053925, 132.4659839272499, 244.7999945282936, 1);
	width:39px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e2504_57309 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:9px;
	height:20px;
	position:absolute;
	left:45px;
	top:0px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e2504_57310 { 
	width:67px;
	height:20px;
	position:absolute;
	left:569px;
	top:172px;
}
.e2504_57311 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e2504_57312 { 
	color:rgba(255, 255, 255, 1);
	width:9px;
	height:20px;
	position:absolute;
	left:58px;
	top:0px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e2504_57313 { 
	width:95px;
	height:20px;
	position:absolute;
	left:799px;
	top:172px;
}
.e2504_57314 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e2504_57315 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:9px;
	height:20px;
	position:absolute;
	left:86px;
	top:0px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e2504_57316 { 
	width:155px;
	height:172px;
	position:absolute;
	left:260px;
	top:661px;
}
.e2504_57317 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2504_57318 { 
	width:155px;
	height:131px;
	position:absolute;
	left:0px;
	top:41px;
}
.e2504_57319 { 
	width:132px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2504_57320 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57320_1287_27646 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2504_57321 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:82px;
	height:18px;
	position:absolute;
	left:50px;
	top:8.5px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2504_57322 { 
	width:155px;
	height:35px;
	position:absolute;
	left:0px;
	top:48px;
}
.e2504_57323 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57323_1287_27646 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2504_57324 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:105px;
	height:18px;
	position:absolute;
	left:50px;
	top:8.5px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2504_57325 { 
	width:154px;
	height:35px;
	position:absolute;
	left:0px;
	top:96px;
}
.e2504_57326 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57326_1287_27646 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2504_57327 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:104px;
	height:18px;
	position:absolute;
	left:50px;
	top:8.5px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2512_51308 { 
	width:290px;
	height:239px;
	position:absolute;
	left:555px;
	top:240px;
}
.e2512_51309 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:290px;
	height:239px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e2512_51311 { 
	background-color:rgba(44.000001177191734, 45.00000111758709, 48.000000938773155, 1);
	width:290px;
	height:1px;
	position:absolute;
	left:0px;
	top:61px;
}
.e2512_51341 { 
	width:100px;
	height:35px;
	position:absolute;
	left:25px;
	top:13px;
}
.e2512_51354 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2512_51355 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2512_51356 { 
	width:26px;
	height:21px;
	position:absolute;
	left:4px;
	top:7px;
	background-image:url(images/200px_nci_visuals_food_taco_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2512_51343 { 
	width:53px;
	height:18px;
	position:absolute;
	left:47px;
	top:8.5px;
}
.e2512_51344 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
}
.e2512_51357 { 
	width:111.4281234741211px;
	height:40px;
	position:absolute;
	left:25px;
	top:179px;
}
.ei2512_51357_1320_25724 { 
	width:40px;
	height:40px;
	position:absolute;
	left:71.4281234741211px;
	top:0px;
}
.ei2512_51357_1320_25724_1287_27650 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i2512_51357_1320_25724_1287_27650 { 
	border:4px solid rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
}
.ei2512_51357_1320_25725 { 
	width:40px;
	height:40px;
	position:absolute;
	left:35.713279724121094px;
	top:0px;
}
.ei2512_51357_1320_25725_1287_27648 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i2512_51357_1320_25725_1287_27648 { 
	border:4px solid rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
}
.ei2512_51357_1320_25726 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51357_1320_25726_1287_27646 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i2512_51357_1320_25726_1287_27646 { 
	border:4px solid rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
}
.e2512_51358 { 
	width:147px;
	height:83px;
	position:absolute;
	left:25px;
	top:76px;
}
.e2512_51359 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2512_51360 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:147px;
	height:20px;
	position:absolute;
	left:0px;
	top:33px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e2512_51361 { 
	background-color:rgba(16.000000946223736, 130.0000074505806, 137.00000703334808, 1);
	width:93px;
	height:20px;
	position:absolute;
	left:0px;
	top:63px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2512_51361_311_6960 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:14px;
	position:absolute;
	left:12px;
	top:3px;
	font-family:Circular Std;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e2504_57333 { 
	width:1300px;
	height:35px;
	position:absolute;
	left:50px;
	top:29px;
}
.ei2504_57333_1422_29090 { 
	width:83.69999694824219px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57333_1422_29091 { 
	width:73.48680877685547px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57333_1422_29092 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.865081787109375px;
	height:9.522293090820312px;
	position:absolute;
	left:39.62172317504883px;
	top:6px;
}
.ei2504_57333_1422_29093 { 
	width:8.62044620513916px;
	height:9.522293090820312px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57333_1422_29094 { 
	width:2.9896726608276367px;
	height:5.313838958740234px;
	position:absolute;
	left:2.7617604732513428px;
	top:2.104227066040039px;
}
.ei2504_57333_1422_29095 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:9.961106300354004px;
	top:0px;
}
.ei2504_57333_1422_29096 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:18.16594886779785px;
	top:0px;
}
.ei2504_57333_1422_29097 { 
	width:7.49429178237915px;
	height:9.522293090820312px;
	position:absolute;
	left:26.370790481567383px;
	top:0px;
}
.ei2504_57333_1422_29098 { 
	width:2.14505672454834px;
	height:2.3972206115722656px;
	position:absolute;
	left:29.105737686157227px;
	top:2.050955295562744px;
}
.ei2504_57333_1422_29099 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57333_1422_29100 { 
	background-color:rgba(255, 255, 255, 1);
	width:44.08528518676758px;
	height:9.5px;
	position:absolute;
	left:39.614715576171875px;
	top:18px;
}
.ei2504_57333_1422_29101 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57333_1422_29102 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:36.5px;
	top:0px;
}
.ei2504_57333_1422_29103 { 
	width:8.550000190734863px;
	height:9.5px;
	position:absolute;
	left:8.985284805297852px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57333_1422_29104 { 
	width:2.8499999046325684px;
	height:9.5px;
	position:absolute;
	left:18.48528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57333_1422_29105 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:23.23528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57333_1422_29106 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:29.885284423828125px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57333_1422_29107 { 
	width:343px;
	height:35px;
	position:absolute;
	left:957px;
	top:0px;
}
.ei2504_57333_1422_29108 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:105px;
	height:20px;
	position:absolute;
	left:0px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}
.ei2504_57333_1422_29109 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:123px;
	height:20px;
	position:absolute;
	left:145px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}
.ei2504_57333_1422_29110 { 
	width:35px;
	height:35px;
	position:absolute;
	left:308px;
	top:0px;
}
.ei2504_57333_1422_29110_1287_27650 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i2504_57333_1422_29110_1287_27650 { 
	border:2px solid rgba(103.0000014603138, 162.00000554323196, 255, 1);
}
