.2504_57122 { 
	overflow:hidden;
}
.e2504_57122 { 
	background-color:rgba(44.000001177191734, 45.00000111758709, 48.000000938773155, 1);
	width:1400px;
	height:1960px;
	position:absolute;
}
.e2504_57123 { 
	background-color:rgba(29.000000171363354, 30.00000011175871, 32.00000189244747, 1);
	width:1400px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2504_57125 { 
	width:930px;
	height:36px;
	position:absolute;
	left:235px;
	top:103px;
}
.ei2504_57125_1311_25521 { 
	width:304px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57125_1311_25515 { 
	color:rgba(244.0000006556511, 243.00000071525574, 249.00000035762787, 1);
	width:304px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2504_57126 { 
	width:1300px;
	height:35px;
	position:absolute;
	left:50px;
	top:29px;
}
.ei2504_57126_34_639 { 
	width:83.69999694824219px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57126_34_640 { 
	width:73.48680877685547px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57126_34_641 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.865081787109375px;
	height:9.522293090820312px;
	position:absolute;
	left:39.62172317504883px;
	top:6px;
}
.ei2504_57126_34_642 { 
	width:8.62044620513916px;
	height:9.522293090820312px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57126_34_643 { 
	width:2.9896726608276367px;
	height:5.313838958740234px;
	position:absolute;
	left:2.7617604732513428px;
	top:2.104227066040039px;
}
.ei2504_57126_34_644 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:9.961106300354004px;
	top:0px;
}
.ei2504_57126_34_645 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:18.16594886779785px;
	top:0px;
}
.ei2504_57126_34_646 { 
	width:7.49429178237915px;
	height:9.522293090820312px;
	position:absolute;
	left:26.370790481567383px;
	top:0px;
}
.ei2504_57126_34_647 { 
	width:2.14505672454834px;
	height:2.3972206115722656px;
	position:absolute;
	left:29.105737686157227px;
	top:2.050955295562744px;
}
.ei2504_57126_34_648 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57126_34_649 { 
	background-color:rgba(255, 255, 255, 1);
	width:44.08528518676758px;
	height:9.5px;
	position:absolute;
	left:39.614715576171875px;
	top:18px;
}
.ei2504_57126_34_650 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57126_34_651 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:36.5px;
	top:0px;
}
.ei2504_57126_34_652 { 
	width:8.550000190734863px;
	height:9.5px;
	position:absolute;
	left:8.985284805297852px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57126_34_653 { 
	width:2.8499999046325684px;
	height:9.5px;
	position:absolute;
	left:18.48528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57126_34_654 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:23.23528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57126_34_655 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:29.885284423828125px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2504_57126_863_19783 { 
	width:282px;
	height:35px;
	position:absolute;
	left:1018px;
	top:0px;
}
.ei2504_57126_812_12160 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:105px;
	height:20px;
	position:absolute;
	left:0px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}
.ei2504_57126_34_657 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:145px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}
.ei2504_57126_1295_30746 { 
	width:35px;
	height:35px;
	position:absolute;
	left:247px;
	top:0px;
}
.ei2504_57126_1295_30746_1287_27646 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i2504_57126_1295_30746_1287_27646 { 
	border:2px solid rgba(103.0000014603138, 162.00000554323196, 255, 1);
}
.e2504_57127 { 
	width:930px;
	height:998px;
	position:absolute;
	left:235px;
	top:324px;
}
.e2504_57128 { 
	width:930px;
	height:896px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2504_57129 { 
	width:930px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2504_57130 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e2504_57131 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:930px;
	height:20px;
	position:absolute;
	left:0px;
	top:42px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e2504_57133 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:930px;
	height:253px;
	position:absolute;
	left:0px;
	top:87px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2504_57133_2170_82170 { 
	width:880px;
	height:55px;
	position:absolute;
	left:25px;
	top:25px;
}
.ei2504_57133_2170_82170_1465_32536 { 
	width:880px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57133_2170_82170_1315_25261 { 
	color:rgba(255, 255, 255, 1);
	width:880px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2504_57133_2170_82170_1315_25262 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:880px;
	height:27px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei2504_57133_2170_82171 { 
	width:880px;
	height:125px;
	position:absolute;
	left:25px;
	top:96px;
}
.ei2504_57133_2170_82171_352_7945 { 
	background-color:rgba(58.17727603018284, 59.47804503142834, 64.68113243579865, 1);
	width:880px;
	height:125px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.i2504_57133_2170_82171_352_7945 { 
	border:1px solid rgba(103.0000014603138, 162.00000554323196, 255, 1);
}
.ei2504_57133_2170_82171_352_7946 { 
	color:rgba(89.66712489724159, 89.66712489724159, 92.49957650899887, 1);
	width:830px;
	background-color: rgb(226, 226, 226);
	height:100px;
	position:absolute;
	left:25px;
	top:16.791044235229492px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2504_57134 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:930px;
	height:253px;
	position:absolute;
	left:0px;
	top:365px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2504_57134_2170_82170 { 
	width:880px;
	height:55px;
	position:absolute;
	left:25px;
	top:25px;
}
.ei2504_57134_2170_82170_1465_32536 { 
	width:880px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57134_2170_82170_1315_25261 { 
	color:rgba(255, 255, 255, 1);
	width:880px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2504_57134_2170_82170_1315_25262 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:880px;
	height:27px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei2504_57134_2170_82171 { 
	width:880px;
	height:125px;
	position:absolute;
	left:25px;
	top:96px;
}
.ei2504_57134_2170_82171_352_7945 { 
	background-color:rgba(58.17727603018284, 59.47804503142834, 64.68113243579865, 1);
	width:880px;
	height:125px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.i2504_57134_2170_82171_352_7945 { 
	border:1px solid rgba(103.0000014603138, 162.00000554323196, 255, 1);
}
.ei2504_57134_2170_82171_352_7946 { 
	color:rgba(89.66712489724159, 89.66712489724159, 92.49957650899887, 1);
	width:830px;
	height:30px;
	position:absolute;
	left:25px;
	top:16.791044235229492px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2504_57136 { 
	width:930px;
	height:253px;
	position:absolute;
	left:0px;
	top:643px;
}
.ei2504_57136_402_13282 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:930px;
	height:253px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2504_57136_402_13283 { 
	color:rgba(255, 255, 255, 1);
	width:388px;
	height:20px;
	position:absolute;
	left:25px;
	top:25px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2504_57136_1346_28271 { 
	width:830px;
	height:160px;
	position:absolute;
	left:50px;
	top:61px;
}
.ei2504_57136_402_13324 { 
	background-color:rgba(58.17727603018284, 59.47804503142834, 64.68113243579865, 1);
	width:240px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2504_57136_402_13324_402_13416 { 
	width:30px;
	height:30px;
	position:absolute;
	left:20px;
	top:23px;
}
.ei2504_57136_402_13324_402_13416_402_13256 { 
	width:26px;
	height:26px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei2504_57136_402_13324_402_13416_402_13257 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57136_402_13324_402_13416_402_13258 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57136_402_13324_402_13416_402_13259 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2504_57136_402_13324_402_13416_402_13260 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:3px;
	top:3px;
}
.ei2504_57136_402_13324_402_13416_402_13261 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:3px;
	top:3px;
}
.ei2504_57136_402_13324_402_13416_402_13263 { 
	border-radius:500px;
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:9px;
	top:9px;
}
.ei2504_57136_402_13324_349_8151 { 
	width:200px;
	height:70px;
	position:absolute;
	left:20px;
	top:67px;
}
.ei2504_57136_402_13324_349_8152 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2504_57136_402_13324_349_8153 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:36px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.ei2504_57136_402_13345 { 
	background-color:rgba(58.17727603018284, 59.47804503142834, 64.68113243579865, 1);
	width:240px;
	height:160px;
	position:absolute;
	left:295px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2504_57136_402_13345_402_13416 { 
	width:30px;
	height:30px;
	position:absolute;
	left:20px;
	top:23px;
}
.ei2504_57136_402_13345_402_13416_1921_51170 { 
	width:26px;
	height:26px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei2504_57136_402_13345_402_13416_1921_51171 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57136_402_13345_402_13416_1921_51172 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57136_402_13345_402_13416_1921_51173 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2504_57136_402_13345_402_13416_1921_51174 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:3px;
	top:3px;
}
.ei2504_57136_402_13345_402_13416_1921_51175 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:3px;
	top:3px;
}
.ei2504_57136_402_13345_349_8151 { 
	width:200px;
	height:70px;
	position:absolute;
	left:20px;
	top:67px;
}
.ei2504_57136_402_13345_349_8152 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2504_57136_402_13345_349_8153 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:36px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.ei2504_57136_402_13365 { 
	background-color:rgba(58.17727603018284, 59.47804503142834, 64.68113243579865, 1);
	width:240px;
	height:160px;
	position:absolute;
	left:590px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2504_57136_402_13365_402_13416 { 
	width:30px;
	height:30px;
	position:absolute;
	left:20px;
	top:23px;
}
.ei2504_57136_402_13365_402_13416_1921_51170 { 
	width:26px;
	height:26px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei2504_57136_402_13365_402_13416_1921_51171 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57136_402_13365_402_13416_1921_51172 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2504_57136_402_13365_402_13416_1921_51173 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2504_57136_402_13365_402_13416_1921_51174 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:3px;
	top:3px;
}
.ei2504_57136_402_13365_402_13416_1921_51175 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:3px;
	top:3px;
}
.ei2504_57136_402_13365_349_8151 { 
	width:200px;
	height:70px;
	position:absolute;
	left:20px;
	top:67px;
}
.ei2504_57136_402_13365_349_8152 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2504_57136_402_13365_349_8153 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:36px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Circular Std;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e2504_57144 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:166px;
	height:35px;
	position:absolute;
	left:0px;
	top:963px;
	border-top-left-radius:47px;
	border-top-right-radius:47px;
	border-bottom-left-radius:47px;
	border-bottom-right-radius:47px;
}
.ei2504_57144_50_1522 { 
	color:rgb(0, 0, 0);
	width:150px;
	height:28px;
	position:absolute;
	left:8px;
	top:4px;
	font-family:Abel;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
