.2532_51298 { 
	overflow:hidden;
}.e2532_51298 { 
	background-color:rgba(44.000001177191734, 45.00000111758709, 48.000000938773155, 1);
	width:1400px;
	height:1959px;
	position:absolute;
}.e2532_51299 { 
	background-color:rgba(29.000000171363354, 30.00000011175871, 32.00000189244747, 1);
	width:1400px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.e2532_51300 { 
	width:930px;
	height:36px;
	position:absolute;
	left:235px;
	top:103px;
}.ei2532_51300_1311_25521 { 
	width:88px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}.ei2532_51300_1311_25515 { 
	color:rgba(244.0000006556511, 243.00000071525574, 249.00000035762787, 1);
	width:88px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e2532_51301 { 
	width:1300px;
	height:35px;
	position:absolute;
	left:50px;
	top:29px;
}.ei2532_51301_34_639 { 
	width:83.69999694824219px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}.ei2532_51301_34_640 { 
	width:73.48680877685547px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}.ei2532_51301_34_641 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.865081787109375px;
	height:9.522293090820312px;
	position:absolute;
	left:39.62172317504883px;
	top:6px;
}.ei2532_51301_34_642 { 
	width:8.62044620513916px;
	height:9.522293090820312px;
	position:absolute;
	left:0px;
	top:0px;
}.ei2532_51301_34_643 { 
	width:2.9896726608276367px;
	height:5.313838958740234px;
	position:absolute;
	left:2.7617604732513428px;
	top:2.104227066040039px;
}.ei2532_51301_34_644 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:9.961106300354004px;
	top:0px;
}.ei2532_51301_34_645 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:18.16594886779785px;
	top:0px;
}.ei2532_51301_34_646 { 
	width:7.49429178237915px;
	height:9.522293090820312px;
	position:absolute;
	left:26.370790481567383px;
	top:0px;
}.ei2532_51301_34_647 { 
	width:2.14505672454834px;
	height:2.3972206115722656px;
	position:absolute;
	left:29.105737686157227px;
	top:2.050955295562744px;
}.ei2532_51301_34_648 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}.ei2532_51301_34_649 { 
	background-color:rgba(255, 255, 255, 1);
	width:44.08528518676758px;
	height:9.5px;
	position:absolute;
	left:39.614715576171875px;
	top:18px;
}.ei2532_51301_34_650 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:0px;
	top:0px;
}.ei2532_51301_34_651 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:36.5px;
	top:0px;
}.ei2532_51301_34_652 { 
	width:8.550000190734863px;
	height:9.5px;
	position:absolute;
	left:8.985284805297852px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei2532_51301_34_653 { 
	width:2.8499999046325684px;
	height:9.5px;
	position:absolute;
	left:18.48528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei2532_51301_34_654 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:23.23528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei2532_51301_34_655 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:29.885284423828125px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei2532_51301_863_19783 { 
	width:282px;
	height:35px;
	position:absolute;
	left:1018px;
	top:0px;
}.ei2532_51301_812_12160 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:105px;
	height:20px;
	position:absolute;
	left:0px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}.ei2532_51301_34_657 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:145px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}.ei2532_51301_1295_30746 { 
	width:35px;
	height:35px;
	position:absolute;
	left:247px;
	top:0px;
}.ei2532_51301_1295_30746_1287_27646 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i2532_51301_1295_30746_1287_27646 { 
	border:2px solid rgba(103.0000014603138, 162.00000554323196, 255, 1);
}.e2532_51302 { 
	transform: rotate(-168.69006769341857deg);
	width:5.099019527435303px;
	height:0px;
	position:absolute;
	left:35px;
	top:303px;
}.2532_51302 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e2532_51303 { 
	width:930px;
	height:219px;
	position:absolute;
	left:235px;
	top:324px;
}.e2532_51304 { 
	width:930px;
	height:219px;
	position:absolute;
	left:0px;
	top:0px;
}.e2532_51305 { 
	width:930px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}.e2532_51306 { 
	color:rgba(255, 255, 255, 1);
	width:326px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e2532_51307 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:930px;
	height:20px;
	position:absolute;
	left:0px;
	top:42px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2532_51308 { 
	width:930px;
	height:132px;
	position:absolute;
	left:0px;
	top:87px;
}.e2532_51309 { 
	width:930px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}.e2532_51443 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:896px;
	height:90px;
	position:absolute;
	left:17px;
	top:17px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e2532_51444 { 
	width:423px;
	height:14px;
	position:absolute;
	left:25px;
	top:38px;
}.e2532_51446 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:20px;
	position:absolute;
	left:0px;
	top:-3px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2532_51458 { 
	width:423px;
	height:20px;
	position:absolute;
	left:448px;
	top:35px;
}.e2532_51459 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}