.2512_51556 { 
	overflow:hidden;
}
.e2512_51556 { 
	background-color:rgba(44.000001177191734, 45.00000111758709, 48.000000938773155, 1);
	width:1400px;
	height:1959px;
	position:absolute;
}
.e2512_51557 { 
	background-color:rgba(29.000000171363354, 30.00000011175871, 32.00000189244747, 1);
	width:1400px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2512_51559 { 
	width:930px;
	height:36px;
	position:absolute;
	left:235px;
	top:103px;
}
.ei2512_51559_1311_25521 { 
	width:234px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51559_1311_25515 { 
	color:rgba(244.0000006556511, 243.00000071525574, 249.00000035762787, 1);
	width:234px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2512_51560 { 
	width:1300px;
	height:35px;
	position:absolute;
	left:50px;
	top:29px;
}
.ei2512_51560_34_639 { 
	width:83.69999694824219px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51560_34_640 { 
	width:73.48680877685547px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51560_34_641 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.865081787109375px;
	height:9.522293090820312px;
	position:absolute;
	left:39.62172317504883px;
	top:6px;
}
.ei2512_51560_34_642 { 
	width:8.62044620513916px;
	height:9.522293090820312px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51560_34_643 { 
	width:2.9896726608276367px;
	height:5.313838958740234px;
	position:absolute;
	left:2.7617604732513428px;
	top:2.104227066040039px;
}
.ei2512_51560_34_644 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:9.961106300354004px;
	top:0px;
}
.ei2512_51560_34_645 { 
	width:6.837368011474609px;
	height:9.522293090820312px;
	position:absolute;
	left:18.16594886779785px;
	top:0px;
}
.ei2512_51560_34_646 { 
	width:7.49429178237915px;
	height:9.522293090820312px;
	position:absolute;
	left:26.370790481567383px;
	top:0px;
}
.ei2512_51560_34_647 { 
	width:2.14505672454834px;
	height:2.3972206115722656px;
	position:absolute;
	left:29.105737686157227px;
	top:2.050955295562744px;
}
.ei2512_51560_34_648 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51560_34_649 { 
	background-color:rgba(255, 255, 255, 1);
	width:44.08528518676758px;
	height:9.5px;
	position:absolute;
	left:39.614715576171875px;
	top:18px;
}
.ei2512_51560_34_650 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51560_34_651 { 
	width:7.585284233093262px;
	height:9.5px;
	position:absolute;
	left:36.5px;
	top:0px;
}
.ei2512_51560_34_652 { 
	width:8.550000190734863px;
	height:9.5px;
	position:absolute;
	left:8.985284805297852px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51560_34_653 { 
	width:2.8499999046325684px;
	height:9.5px;
	position:absolute;
	left:18.48528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51560_34_654 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:23.23528480529785px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51560_34_655 { 
	width:5.699999809265137px;
	height:9.5px;
	position:absolute;
	left:29.885284423828125px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51560_863_19783 { 
	width:282px;
	height:35px;
	position:absolute;
	left:1018px;
	top:0px;
}
.ei2512_51560_812_12160 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:105px;
	height:20px;
	position:absolute;
	left:0px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}
.ei2512_51560_34_657 { 
	color:rgba(125.61150893568993, 125.61150893568993, 131.09459191560745, 1);
	width:62px;
	height:20px;
	position:absolute;
	left:145px;
	top:7.5px;
	font-family:Circular Std;
	text-align:center;
	font-size:16px;
	letter-spacing:0.4000000059604645;
}
.ei2512_51560_1295_30746 { 
	width:35px;
	height:35px;
	position:absolute;
	left:247px;
	top:0px;
}
.ei2512_51560_1295_30746_1287_27646 { 
	border-radius:500px;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/oval.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i2512_51560_1295_30746_1287_27646 { 
	border:2px solid rgba(103.0000014603138, 162.00000554323196, 255, 1);
}
.e2512_51561 { 
	transform: rotate(-168.69006769341857deg);
	width:5.099019527435303px;
	height:0px;
	position:absolute;
	left:35px;
	top:303px;
}
.2512_51561 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e2512_51562 { 
	width:930px;
	height:632px;
	position:absolute;
	left:235px;
	top:324px;
}
.e2512_51563 { 
	width:930px;
	height:554px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2512_51564 { 
	width:930px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2512_51565 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e2512_51566 { 
	color:rgba(201.02190524339676, 201.02190524339676, 204.00000303983688, 1);
	width:930px;
	height:20px;
	position:absolute;
	left:0px;
	top:42px;
	font-family:Circular Std;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e2512_51567 { 
	width:930px;
	height:467px;
	position:absolute;
	left:0px;
	top:87px;
}
.e2512_51680 { 
	width:930px;
	height:467px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2512_51681 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:896px;
	height:60px;
	position:absolute;
	left:17px;
	top:17px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2512_51681_1316_25422 { 
	width:730px;
	height:30px;
	position:absolute;
	left:25px;
	top:15px;
}
.ei2512_51681_1316_25464 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51681_1316_25464_1921_51180 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei2512_51681_1316_25464_1921_51181 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51681_1316_25464_1921_51182 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2512_51681_1316_25464_1921_51183 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:3.115385055541992px;
	top:3.115385055541992px;
}
.ei2512_51681_1316_25464_1921_51184 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51681_1316_25413 { 
	color:rgba(255, 255, 255, 1);
	width:353px;
	height:20px;
	position:absolute;
	left:45px;
	top:5px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51681_1316_25414 { 
	width:116px;
	height:20px;
	position:absolute;
	left:755px;
	top:20px;
}
.ei2512_51681_1316_25414_292_4451 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51681_1316_25414_292_4458 { 
	width:18px;
	height:20px;
	position:absolute;
	left:98px;
	top:0px;
}
.ei2512_51681_1316_25414_292_4453 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51681_1316_25414_292_4454 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:4px;
	top:2px;
}
.e2512_51682 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:896px;
	height:60px;
	position:absolute;
	left:17px;
	top:90px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2512_51682_1316_25422 { 
	width:730px;
	height:30px;
	position:absolute;
	left:25px;
	top:15px;
}
.ei2512_51682_1316_25464 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51682_1316_25464_1921_51180 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei2512_51682_1316_25464_1921_51181 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51682_1316_25464_1921_51182 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2512_51682_1316_25464_1921_51183 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:3.115385055541992px;
	top:3.115385055541992px;
}
.ei2512_51682_1316_25464_1921_51184 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:4.615386962890625px;
	top:4.615264892578125px;
}
.ei2512_51682_1316_25413 { 
	color:rgba(255, 255, 255, 1);
	width:299px;
	height:20px;
	position:absolute;
	left:45px;
	top:5px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51682_1316_25414 { 
	width:116px;
	height:20px;
	position:absolute;
	left:755px;
	top:20px;
}
.ei2512_51682_1316_25414_292_4451 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51682_1316_25414_292_4458 { 
	width:18px;
	height:20px;
	position:absolute;
	left:98px;
	top:0px;
}
.ei2512_51682_1316_25414_292_4453 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51682_1316_25414_292_4454 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:4px;
	top:2px;
}
.e2512_51683 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:896px;
	height:60px;
	position:absolute;
	left:17px;
	top:163px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2512_51683_1316_25422 { 
	width:730px;
	height:30px;
	position:absolute;
	left:25px;
	top:15px;
}
.ei2512_51683_1316_25464 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51683_1316_25464_1921_51180 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei2512_51683_1316_25464_1921_51181 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51683_1316_25464_1921_51182 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2512_51683_1316_25464_1921_51183 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:3.115385055541992px;
	top:3.115385055541992px;
}
.ei2512_51683_1316_25464_1921_51184 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:4.615386962890625px;
	top:4.615264892578125px;
}
.ei2512_51683_1316_25413 { 
	color:rgba(255, 255, 255, 1);
	width:325px;
	height:20px;
	position:absolute;
	left:45px;
	top:5px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51683_1316_25414 { 
	width:116px;
	height:20px;
	position:absolute;
	left:755px;
	top:20px;
}
.ei2512_51683_1316_25414_292_4451 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51683_1316_25414_292_4458 { 
	width:18px;
	height:20px;
	position:absolute;
	left:98px;
	top:0px;
}
.ei2512_51683_1316_25414_292_4453 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51683_1316_25414_292_4454 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:4px;
	top:2px;
}
.e2512_51684 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:896px;
	height:60px;
	position:absolute;
	left:17px;
	top:236px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2512_51684_1316_25422 { 
	width:730px;
	height:30px;
	position:absolute;
	left:25px;
	top:15px;
}
.ei2512_51684_1316_25464 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51684_1316_25464_1921_51180 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei2512_51684_1316_25464_1921_51181 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51684_1316_25464_1921_51182 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2512_51684_1316_25464_1921_51183 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:3.115385055541992px;
	top:3.115385055541992px;
}
.ei2512_51684_1316_25464_1921_51184 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:4.615386962890625px;
	top:4.615264892578125px;
}
.ei2512_51684_1316_25413 { 
	color:rgba(255, 255, 255, 1);
	width:266px;
	height:20px;
	position:absolute;
	left:45px;
	top:5px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51684_1316_25414 { 
	width:116px;
	height:20px;
	position:absolute;
	left:755px;
	top:20px;
}
.ei2512_51684_1316_25414_292_4451 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51684_1316_25414_292_4458 { 
	width:18px;
	height:20px;
	position:absolute;
	left:98px;
	top:0px;
}
.ei2512_51684_1316_25414_292_4453 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51684_1316_25414_292_4454 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:4px;
	top:2px;
}
.e2512_51685 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:896px;
	height:60px;
	position:absolute;
	left:17px;
	top:309px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2512_51685_1316_25422 { 
	width:730px;
	height:30px;
	position:absolute;
	left:25px;
	top:15px;
}
.ei2512_51685_1316_25464 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51685_1316_25464_1921_51180 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei2512_51685_1316_25464_1921_51181 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51685_1316_25464_1921_51182 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2512_51685_1316_25464_1921_51183 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:3.115385055541992px;
	top:3.115385055541992px;
}
.ei2512_51685_1316_25464_1921_51184 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:4.615386962890625px;
	top:4.615264892578125px;
}
.ei2512_51685_1316_25413 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:20px;
	position:absolute;
	left:45px;
	top:5px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51685_1316_25414 { 
	width:116px;
	height:20px;
	position:absolute;
	left:755px;
	top:20px;
}
.ei2512_51685_1316_25414_292_4451 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51685_1316_25414_292_4458 { 
	width:18px;
	height:20px;
	position:absolute;
	left:98px;
	top:0px;
}
.ei2512_51685_1316_25414_292_4453 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51685_1316_25414_292_4454 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:4px;
	top:2px;
}
.e2512_51686 { 
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:896px;
	height:60px;
	position:absolute;
	left:17px;
	top:382px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.ei2512_51686_1316_25422 { 
	width:730px;
	height:30px;
	position:absolute;
	left:25px;
	top:15px;
}
.ei2512_51686_1316_25464 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51686_1316_25464_1921_51180 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei2512_51686_1316_25464_1921_51181 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2512_51686_1316_25464_1921_51182 { 
	background-color:rgba(79.00000289082527, 68.00000354647636, 207.00000286102295, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.ei2512_51686_1316_25464_1921_51183 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:3.115385055541992px;
	top:3.115385055541992px;
}
.ei2512_51686_1316_25464_1921_51184 { 
	border-radius:500px;
	background-color:rgba(53.00000064074993, 54.00000058114529, 58.00000034272671, 1);
	width:20.769229888916016px;
	height:20.769229888916016px;
	position:absolute;
	left:4.615386962890625px;
	top:4.615264892578125px;
}
.ei2512_51686_1316_25413 { 
	color:rgba(255, 255, 255, 1);
	width:336px;
	height:20px;
	position:absolute;
	left:45px;
	top:5px;
	font-family:Abel;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51686_1316_25414 { 
	width:116px;
	height:20px;
	position:absolute;
	left:755px;
	top:20px;
}
.ei2512_51686_1316_25414_292_4451 { 
	color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Circular Std;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.ei2512_51686_1316_25414_292_4458 { 
	width:18px;
	height:20px;
	position:absolute;
	left:98px;
	top:0px;
}
.ei2512_51686_1316_25414_292_4453 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.ei2512_51686_1316_25414_292_4454 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:4px;
	top:2px;
}
.e2512_51572 { 
	background-color:rgba(103.0000014603138, 162.00000554323196, 255, 1);
	width:164px;
	height:35px;
	position:absolute;
	left:0px;
	top:597px;
	border-top-left-radius:47px;
	border-top-right-radius:47px;
	border-bottom-left-radius:47px;
	border-bottom-right-radius:47px;
}
.ei2512_51572_50_1522 { 
	color:rgb(0, 0, 0);
	width:150px;
	height:28px;
	position:absolute;
	left:8px;
	top:4px;
	font-family:Abel;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
